.button {
    font: inherit;
    border: 1px solid rgb(212, 12, 252);
    color: white;
    background-color: rgb(125, 11, 148);
}

.button:hover,
.button:active {
    background-color: rgb(75, 6, 88);
    border-color: rgb(125, 51, 141);
    cursor: pointer;

}

.button:focus {
    outline: none;
}